<% provide(:title, "About") %>
<h1>Supervisors</h1>
<p>
Dr. Lynne Baillie
<br>
Heriot-Watt Univeristy
<br><br>
Dr. Mike Just
<br>
Heriot-Watt University
<br><br>
Dr. Jacki O’Neill
<br>
Microsoft Research 
</p>